@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 24% 96%;
    /* #F0F3FB */
    --foreground: 222 47% 11%;
    /* #111827 (gray-900) */
  }

  .dark {
    --background: 0 0% 7%;
    /* #121212 */
    --foreground: 0 0% 94%;
    /* #f0f0f0 */
  }
}

@layer base {
  body {
    @apply bg-white dark:bg-[#121212] text-gray-900 dark:text-[#f0f0f0] transition-colors duration-300;
  }

  /* Global fix for inputs to prevent dark mode issues */
  input,
  textarea {
    @apply bg-white text-gray-900 border-gray-300 placeholder-gray-500;
  }
}